Source: ladspa-sdk
Section: sound
Priority: optional
Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7.0.50~),
               g++ (>= 4:4.0.0),
               quilt (>= 0.40)
Standards-Version: 3.8.3
Uploaders: Felipe Sateler <fsateler@gmail.com>
Vcs-Git: git://git.debian.org/git/pkg-multimedia/ladspa-sdk.git
Vcs-Browser: http://git.debian.org/?p=pkg-multimedia/ladspa-sdk.git

Package: ladspa-sdk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: ladspa-host, ladspa-plugin, ladspa-sdk-dev
Conflicts: ladspa-sdk-dev
Description: sample tools for linux-audio-dev plugin architecture
 LADSPA is a free standard specification for audio effect plugins.
 .
 Contains sample plugins, and analyseplugin, listplugin, applyplugin 
 programs, and the ladspa.h, the LADSPA specification.
 .
 Please build-depend on this package if you need ladspa.h

