#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh --with quilt $@



override_dh_auto_build:
	# git doesn't preserve empty dirs, this is for git-buildpackage
	mkdir -p plugins
	mkdir -p bin
	$(MAKE) -C src targets

override_dh_auto_clean:
	dh_auto_clean
	$(MAKE) -C src clean

override_dh_auto_install:
	$(MAKE) -C src install DESTDIR=$(CURDIR)/debian/ladspa-sdk \
	INSTALL_PLUGINS_DIR=$(CURDIR)/debian/ladspa-sdk/usr/lib/ladspa/ \
	INSTALL_INCLUDE_DIR=$(CURDIR)/debian/ladspa-sdk/usr/include/ \
	INSTALL_BINARY_DIR=$(CURDIR)/debian/ladspa-sdk/usr/bin/ 

